**/*__pycache__
**/*__init__.py
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/*.pywz
**/*.pywz

*.pdf
*.html
*.json
*.csv
*.jsonl
*.jsonl.gz

*.log
*.log.gz
*.log.bz2
*.log.xz
*.log.lzma
*.log.lz4
*.log.lz4.gz



